__pycache__/
*.pyc
*.pyo
*.pyd


.venv/
env/
venv/
myenv/


.git/
.gitignore
.idea/
.DS_Store

vector_store/
new_vectro_store/

.gradio/
.idea/

*.ipynb
data-exploration.ipynb
sentiment_analysis.ipynb
vector_search.ipynb
tagged_description.ipynb
text_classification_llm_ipynb

books.csv
clean_book.csv
new_book.csv
tagged_description.txt

LICENSE
